li {
  background: #ffe5e5;
  color: #46031f;
  padding: 5px;
}
ul {
	padding: 10px;
	max-width: 580px;
	margin: auto;
	list-style-image: url('../img/cherryblossom2.png');
}
.post-content {
	text-align: left;
}
li {
	list-style-position:inside;
	list-style-type:square;
}
table, th, td {
	border: 0px solid #000 !important;
}