html, body {
    background-color: #ffcdcc;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: PinkChicken, "Comic Sans MS", "Comic Sans", "Chalkboard SE", "Comic Neue", cursive;
    font-size: 24px;
    }
@font-face {
    font-family: PinkChicken;
    src: url('../font/PinkChicken-Regular.ttf');
}
a {
    text-decoration:none;
    color: #9e7f7e;
}
a:hover {
    color: black;
}
table {
    text-align: center;
    margin: auto;
}
img {
    height: 300px;
}