@font-face { font-family: PinkChicken; src: url('../font/PinkChicken-Regular.ttf'); }
body { margin: 0; background-color: #ffcdcc; font-size:24px; font-family: PinkChicken, "Comic Sans MS", "Comic Sans", "Chalkboard SE", "Comic Neue", cursive; }
a { text-decoration:none; color:#9e7f7e; }
a:hover { color: black; }
* { margin-top: 0; }
h1,h2 { text-align: center; }
h2 { margin-top: 10px; }
div { margin: 0; padding: 0; }
figure img { border: 1px solid #000; }
figure { text-align: center; }