table {
	text-align: left;
	background-color: #fff;
	border: 2px solid #888;
	color: #000;
	font-family: Arimo, 'Trebuchet MS', calibri, arial, sans-serif;
}
th, td {
	border: 0px;
}
img {
	border: 1px solid #000;
}