@font-face {
    font-family: PinkChicken;
    src: url('../font/PinkChicken-Regular.ttf');
}
html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  cursor: url('../img/wiimouse.png'), pointer;
  background-image: url('../img/corkboard.png');
}
.styling {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}