html, body {
    background-color: #ffcdcc;
    margin: 0;
    padding: 0;
    font-family: PinkChicken;
    }
.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
#counter{
    font-size: 28px;
}
@font-face {
    font-family: PinkChicken;
    src: url('../font/PinkChicken-Regular.ttf');
}
a {
    text-decoration:none;
    color: #9e7f7e;
    font-size: 28px;
}
a:hover {
    color: black;
}