@font-face { font-family: PinkChicken; src: url('../font/PinkChicken-Regular.ttf'); }
body { margin: 0; background-color: #ffcdcc; font-size:24px; font-family: PinkChicken, "Comic Sans MS", "Comic Sans", "Chalkboard SE", "Comic Neue", cursive; }
a { text-decoration:none; color:#9e7f7e; }
a:hover { color: black; }

* { margin-top: 0; }
h1 { text-align: center; }
h2 { margin-top: 10px; }
div { margin: 0; padding: 0; }
table { margin: auto; text-align: center; border-spacing: 0px; }
th, td { padding: 20px; }
p, h2 { text-align: center; }
img { width: 100px; }