@font-face {
    font-family: PinkChicken;
    src: url('../font/PinkChicken-Regular.ttf');
}
body {
    margin: 0;
    background-color: #ffcdcc;
    font-size:24px;
    font-family: PinkChicken, "Comic Sans MS", "Comic Sans", "Chalkboard SE", "Comic Neue", cursive;
    text-align: center;
}
a {
    text-decoration:none;
    color:#9e7f7e;
}
a:hover {
    color: black;
}
table {
    border-spacing: 0px;
}
td, th {
    border: 1px solid #000;
    border-spacing: 0px;
    padding: 8px;
}
td {
    max-width: 700px;
}