* { margin-top: 0; }
h1 { text-align: center; }
h2 { margin-top: 10px; }
div { margin: 0; padding: 0; }
table { margin: auto; border: 2px solid #000; width: 800px; text-align: center; border-spacing: 0px;     }
th { background-color: #9e7f7e; color: #ffcdcc; }
th, td { padding: 0px; border: 1px solid #9e7f7e; }