@font-face {
  font-family: 'icomoon';
  src:  url('font/icomoon.eot?w3shsm');
  src:  url('font/icomoon.eot?w3shsm#iefix') format('embedded-opentype'),
    url('font/icomoon.ttf?w3shsm') format('truetype'),
    url('font/icomoon.woff?w3shsm') format('woff'),
    url('font/icomoon.svg?w3shsm#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-discord:before {
  content: "\e900";
}
.icon-github:before {
  content: "\eab0";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-envelope:before {
  content: "\f0e0";
}
.icon-twitch:before {
  content: "\f1e8";
}
